<title>All Events</title>

<div class="container">
  <%= form_tag events_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find your next golf event"
    %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
  <% end %>
</div>



<!-- the list of movies -->

<div class="container">
  <h1 class="mt-5 mb-3" style="color:black">All Events </h3>
  <div class="cards" >
    <% @events.each do |event| %>
      <div class="card-trip">
        <% if event.photo.present? %>
          <%= cl_image_tag(event.photo) %>
        <% else %>
          <img src="https://images.pexels.com/photos/424725/pexels-photo-424725.jpeg?cs=srgb&dl=active-activity-adults-424725.jpg&fm=jpg" alt="online event">
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-2"><%= event.name %></h2>
            <p>Event date: <%= event.date %></p>
          </div>
          <%= link_to "Details", event_path(event), class: "btn btn-flat stretched-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

