<div class='container m-5'>
  <div class="row">
    <!-- Left part 2/3 here  -->
    <div class="col-8">
      <!-- Event Card -->
      <div class="card-show">
        <% if @event.photo? %>
          <%= cl_image_tag @event.photo %>
        <% else %>
          <%= image_tag "show-event-place-holder.jpg", class: "" %>
        <% end %>
        <div class="card-show-infos d-flex justify-content-start bottom-line">
          <div class="card h-45 w-45 date-card">
            <div class="mx-3 my-1">
              <h5 class="m-1"><%= @event.date.to_date.day %></h5>
              <p class="m-1">
                <% months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
                <%= months[@event.date.to_date.month - 1] %>
              </p>
            </div>
          </div>
          <div class="align mx-4">
            <h2><%= @event.name %></h2>
          </div>
          <div class="d-flex flex-column">
            <!-- <img src="avatar.jpg" class="card-show-user avatar-bordered" /> -->
            <% if @event.user.photo.present? %>
              <%= cl_image_tag @event.user.photo, class:"card-show-user avatar-bordered" %>
            <% else %>
              <%= image_tag "avatar.jpg", class:"card-show-user avatar-bordered" %>
            <% end %>
            <p class="card-show-username"><%= @event.user.first_name %> <%= @event.user.last_name %></p>
          </div>
        </div>
        <div>
          <div class="row mx-3 my-2">
            <i class="col-1 far fa-calendar-check"></i>
            <p class="col-11 px-2">
              <% weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %><%= weekdays[@event.date.to_date.wday] %> <%= @event.date %> at 10AM - 1PM
            </p>
          </div>
          <div class="row mx-3 my-2">
            <i class="col-1 fas fa-map-marker-alt"></i>
            <p class="col-11 px-2"><%= @event.location %></p>
          </div>
        </div>
      </div>
      <!-- Event description -->
      <div class='event-description my-2 p-3'>
        <h5>Description</h2>
        <p><%= @event.description %></p>
      </div>
      <!-- Event discussion -->
      <div class='event-description my-2 p-3'>
        <h5>Discussion</h2>
        <div>
          <!-- discussion list - each do for the further -->
          <div class="d-flex justify-content-between align-self-start">
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-show-user avatar-bordered-small m-2" /> -->

            <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo, class:"card-show-user avatar-bordered-small m-2" %>
            <% else %>
            <%= image_tag "birdie.png", class:"card-show-user avatar-bordered-small m-2" %>
            <% end %>

            <div>
              <%= render 'messages/form' %>
            </div>
            <!-- discussion list --modified -->
            <div class="">
              <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-show-user avatar-bordered-small m-2" /> -->
              <% @event.messages.each do |message| %>
                <div class="d-flex justify-content-between align-self-start">
                  <% if message.user.photo.present? %>
                  <%= image_tag message.user.photo, class:"card-show-user avatar-bordered-small m-2" %>
                  <% else %>
                  <%= image_tag "birdie.png", class:"card-show-user avatar-bordered-small m-2" %>
                  <% end %>

                  <div>
                    <h6 class="m-2 pt-2"><%= message.user.first_name %></h6>
                    <p class="m-2"><%= message.content %></p>
                  </div>
                </div>
              <% end %>
            </div>
            <!-- ABOVE discussion list -->
          </div>
        </div>
      </div>
      <!-- Left part 2/3 here  -->
      <div class = "col-4">
        <div class = "d-flex justify-content-start align-self-start">
          <% if current_user.reserved_events.include?(@event) %>

            <div class = "text-center btn-big-flat m-2"><%= link_to reservation_path(@reservation), method: :delete, data: { confirm: "You have cancelled the booking of this event" } do %>Cancel my booking<% end %>
            </div>

          <% else %>
            <div class = "text-center btn-big-flat m-2"><%= link_to event_reservations_path(@event, reservation: { :event_id => @event.id }), method: :post, data: { confirm: "You have booked this event, please wait for the host`s confirmation" } do %>Book this event<% end %>
            </div>
          <% end %>
          <div class = "text-center btn-big-flat m-2">Interested</div>
        </div>
        <div class="mx-2 mt-3">
          <% if policy(@event).edit? %>
            <div class = "text-center btn-ghost-square m-2"><%= link_to "Edit", edit_event_path(@event) %></div>
          <% end %>
        </div>
        <div class="mx-2 mt-3">
          <h6>Participants</h6>
          <div class="d-flex flex-column">
            <% @participants.each do |p| %>
              <div class="d-flex flex-row align-self-start">
                <% if p.photo.present? %>
                <%= image_tag p.photo, class:"card-show-user avatar-bordered-small m-2" %>
                <% else %>
                <%= image_tag "birdie.png", class:"card-show-user avatar-bordered-small m-2" %>
                <% end %>
                <h6 class="m-2 pt-2"><%= p.first_name + " " + p.last_name %></h6>
              </div>
            <% end %>
            <!-- above is participates -->
          </div>
        </div>
      </div>
    </div>
