<!-- here is the big banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>')">
  <div class="banner-flex mt-5">
    <% if user_signed_in? && !current_user.reserved_events.empty? %>
      <div class="col">
        <div class="card-event">
          <div class="card-event-infos">
            <div>
              <h2 class="mb-2">Next event you signed up</h2>
              <h6><%= link_to current_user.reserved_events.first.name, event_path(current_user.reserved_events.first) %></h6>
              <p>Hosted by <%= current_user.reservations.first.event.user.first_name%></p>
              <p>Date: <%= current_user.reservations.first.event.date%></p>
            </div>
            <%= link_to "My events", my_events_path, class: "btn btn-ghost" %>
          </div>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? && !current_user.events.empty? %>
      <div class="col">
        <div class="card-event">
          <div class="card-event-infos">
            <div>
              <h2 class="mb-2">Event you are hosting</h2>
              
              <h6><%= link_to current_user.events.first.name, event_path(current_user.events.first) %></h6>
              <p>Date: <%= current_user.events.first.date%></p>
              <% if current_user.events.first.participants %>
                <p>Current Participants:
                  <% current_user.events.first.participants.each do |p|%>
                    <%= p.first_name %>
                  <% end %>
                </p>
              <% end %>

              <div class="buttons">
                <%= link_to "My events", events_path, class: "btn btn-flat" %>
                <%= link_to "Create an event", new_event_path, class: "btn btn-ghost" %>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- here is search bar & map -->
<div class="container m-4 d-flex justify-content-between">
  <div style="width: 500px">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
  <div
    id="map"
    style="width: 500px;
    height: 250px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
<!--Here is cards list -->
<div class="container">
  <div class="d-flex bd-highlight">
    <div class="p-0 w-100 bd-highlight">
      <h3>Golf events you may like:  </h3>
    </div>
    <div class="pb-2  flex-shrink-1 bd-highlight">
      <%= link_to "All events", events_path, class: "btn btn-lg" %>
    </div>
  </div>
  <div class="cards" >
    <% @events.each do |event| %>
      <div class="card-trip">
        <% if event.photo.present? %>
          <%= cl_image_tag(event.photo) %>
        <% else %>
          <img src="https://images.pexels.com/photos/424725/pexels-photo-424725.jpeg?cs=srgb&dl=active-activity-adults-424725.jpg&fm=jpg" alt="online event">
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-2"><%= event.name %></h2>
            <p>Event date: <%= event.date %></p>
          </div>
          <% if event.user.photo.present? %>
            <%= cl_image_tag event.user.photo, class:"card-show-user avatar-bordered" %>
          <% else %>
            <%= image_tag "birdie.png", class:"card-show-user avatar-bordered" %>
          <% end %>
          <%= link_to "Details", event_path(event), class: "btn btn-flat stretched-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
